<div class="header-card pt-3 ps-3 mt-3">
    <i class="fa fa-suitcase"></i>
    <span>Work Experience</span>
</div>

<div class="content-card pt-3 ps-3">
    <div *ngFor="let item of dataModel" class="skill-item mt-3">
        <div class="label-box">
            <span class="label-text py-1">
                {{ item.name }}
            </span>
            <div class="arrow-box">
                <img src="../../../assets/images/Arrow (1).png" alt="arrow" class="arrow-item">
                <span class="label-item p-1">
                    {{ item.duration }}
                </span>
            </div>
        </div>
        
        <div class="line-item ms-2">
            <p>
                {{ item.companyName }}
            </p>
        </div>

        <div class="line-item ms-2">
            <p>
                {{ item.Location }}
            </p>
        </div>

        <div class="title-line-item ms-1 mt-2 pb-1 mb-2">
            <span>
                Tasks and Achievements
            </span>
        </div>

        <div class="line-item-describe ms-4 mb-2" *ngFor="let describ of item.description">
            <i class="fa fa-thumbs-o-up me-2"></i>
            <p>
                {{ describ }}
            </p>
        </div>
    </div>
</div>